//タブレット用メディアクエリ
@mixin tab {
  @media screen and (min-width: 768px) {
    @content;
  }
}

//PC用メディアクエリ
@mixin pc {
  @media screen and (min-width: 1024px) {
    @content;
  }
}

//pc用hover
@mixin hover {
  @media (any-hover: hover) {
    &:hover {
      @content;
    }
  }
}

//コンテンツ幅
@mixin contents-width {
  padding: 0 2rem;

  @include tab {
    padding: 0 3rem;
  }

  @include pc {
    padding: 0;
    margin-inline: auto;
    width: 90%;
    max-width: 1100px;
  }
}

//セクション間マージン
@mixin section-margin {
  margin-bottom: 2.4rem;

  @include tab {
    margin-bottom: 3.2rem;
  }

  @include pc {
    margin-bottom: 4rem;
  }
}

//見出しスタイル
@mixin sub-title {
  margin-bottom: 0.8rem;
  font-weight: 700;
  font-size: clamp(14px, 1.4rem, 16px);

  @include tab {
    margin-bottom: 1.6rem;
    font-size: clamp(16px, 1.6rem, 18px);
  }

  @include pc {
    margin-bottom: 2.4rem;
    font-size: clamp(16px, 1.8rem, 18px);
  }
}
